SECRET_KEY='django-insecure-xxxxxx'
DJANGO_ADMIN_USER='user' # you can leave blank here until you need to use Django Admin
DJANGO_ADMIN_PASSWORD='yourpassword' # you can leave blank here until you need to use Django Admin
OLLAMA_HOST='http://127.0.0.1:11434'
OLLAMA_MODEL='gemma3:1b'