# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# Lyra Models
/models/*
!/models/Lyra1.6.pt
!/models/Lyra2.0.pt
!/models/Lyra2.1.pt
!/models/Lyra2.5.pt

# Python
*.pyc
__pycache__/
*~$
*.log
*.pot

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# Lock File
uv.lock