@import "tailwindcss";

@theme {
    --font-prosto-one: "Prosto One", sans-serif;

    --color-default-gray: #C3C3C3;

    --aspect-golden: 1 / 1.618;

    --radius-gradient-card: 4rem;

    --shadow-sun: 0 0 6px 6px rgba(255, 255, 255, 1);
}

@utility color-slider {
    @apply appearance-none outline-none m-0 p-0 select-none touch-none;
}

@utility card-shape-header {
    @apply max-h-50 aspect-golden rounded-lg;
}

@utility card-header {
    @apply border-4 border-default-gray text-default-gray flex items-center cursor-pointer duration-600;
}

@utility dark-card-hover {
    @apply hover:text-white hover:border-black;
}

@utility light-card-hover {
    @apply hover:text-black hover:border-white;
}

@utility decorative-line {
    @apply flex-1 h-1 w-full;
}

@utility container-for-gradient-boxes {
    @apply max-w-120 md:max-w-240 xl:max-w-320 mx-auto grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 xl:gap-12;
}

@layer base {
    .color-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 8px;
        height: 8px;
        background: white;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(255,255,255,0.8);
        cursor: grab;
        border: 2px solid transparent;
    }
    
    .color-slider::-webkit-slider-thumb:active {
        transform: scale(1.4);
        cursor: grabbing;
    }
}